{% extends "bismi_allah.html" %}
<!--بسم الله الرحمن الرحيم-->
{% block content %}
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>LOGIN</legend>
        {% if error_message %} <strong style="color:red;"> {{ error_message }} </strong> <br> <a href="{% url 'register' %}">want to register?</a> <br> {% endif %}
    
        <label for="bismi_allah_name"><input type="text" name="bismi_allah_name" placeholder="bismi Allah name">
        <br>
        <label for="bismi_allah_password"><input type="password" name="bismi_allah_password" placeholder="bismi Allah password">
        <br>
        <button type="submit">login</button>
        <button type="reset">reset</button>
    </fieldset>
    </form>
{% endblock %}

